body{
	padding-top: 100px;

}

.navbar{
	background: #264E86;
	
}

.navbar-inverse .navbar-nav>li>a{
	color: white;
}

.navbar-inverse .navbar-brand{
	color: white;
}

/*.thumbnail{
	background: #AFFFFF;

	border: 2px solid #5E88FC;
}*/

.jumbotron{
	background: #00A4FF;
	color:white;
}
