body{
	padding-top: 100px;
	
}

.navbar{
	background: #264E86;
	
}

.navbar-inverse .navbar-nav>li>a{
	color: white;
}

.navbar-inverse .navbar-brand{
	color: white;
}

#fD{
	background-color: #5E88FC;
	text-align: center;
	padding-top: 125px;
	/*padding-bottom: 70px;*/
}

#imgAt{
	vertical-align: middle;
}

#fD1{
	background-color: white;
}



.jumbotron{
	background: #5E88FC;
	color:white;
}

h3{
	font-size: 35px;
}
